# env.sh

export SECRET_KEY="django-insecure-genkey"
export ROUTE_ENGINE_SECRET_KEY="django-insecure-genkey"

# Route Engine URL
export LOGICWAY_URL="http://localhost:8000"
export ROUTE_ENGINE_URL="http://localhost:8001"

# PostgreSQL Database Settings
export DB_NAME="logic_way_db"
export DB_USER="myuser"
export DB_PASSWORD="mypassword"
export DB_HOST="localhost"
export DB_PORT="5432"

export REACT_APP_LOGICWAY_URL="$LOGICWAY_URL"
export REACT_APP_ROUTE_ENGINE_URL="$LOGICWAY_URL/routing/proxy_route_engine"
