{% load static %}
{% load manifest_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <link href="{% static 'map/frontend' %}{% asset_path 'main.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        #map {
            height: 100vh;
        }
    </style>
</head>
<body>
<div id="root"></div>
<script src="{% static 'map/frontend' %}{% asset_path 'main.js' %}"></script>
<script>
    const ROUTE_ENGINE_URL = "{{ ROUTE_ENGINE_URL }}";
    console.log(ROUTE_ENGINE_URL);
</script>
</body>
</html>
